*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


#encabezado1{
    
    background-color: #1CD1B0;
    
    

}

#descuentos{
    
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #000000;
    margin-left: 20px;

}

#encabezado2{
    
    background-color: #00669F;
    display: flex;
    
   

}

#logo-tienda{

    margin: 3px 10px;
}


#nombre-tienda{
  
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color:#FFFFFF;
    display: flex;
    align-items: center;


} 


a{
    text-decoration: none;
    
}

.formulario{

   
    width: 500px;
    height: 500px;
    margin: 100px 450px;
    display: flex;
    flex-direction: column;
    
    
}

.formulario-registro{
    color: black;
    font-weight: bold;
    font-size: 72px;
    height: 70px;
    margin-bottom: 50px;
   
}

#nombre{
    display: flex;
    margin-bottom: 10px;
    width: 480px;
    height: 40px;
    border: 1,53px solid #000000;

    
}

#email{ 
    display: flex;
    margin-bottom: 10px;
    width: 480px;
    height: 40px;
    border: 1,53px solid #000000;

}

#password{
    display: flex;
    margin-bottom: 10px;
    width: 480px;
    height: 40px;
    border: 1,53px solid #000000;
}



#opcion-pais{
    display: flex;
    width: 480px;
    height: 40px;
    border: 1,53px solid #000000;

}

#botones{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    
}

#boton-resetear{

    display: flex;
    border-radius: 23.011px;
    font-size: 24px;
    font-weight: bold;
    color:#FFFFFF;
    background-color:#888888;
    width: 300px;
    margin-top: 76px;
    margin-right:20px;
    justify-content: center;

    
}

#boton-registrar{
    display: flex;
    background-color: #1CD1B0;
    border-radius: 23.011px;
    font-size: 24px;
    font-weight: bold;
    color:#000000;
    width: 300px;
    justify-content: center;
    margin-top: 76px;
    margin-right:20px;
    
   
}

#cuenta-registrada{
    text-align: center;
    margin-top: 20px;

   
}

footer{
    
    background-color: #00669F;
    height: 51px;
    color: #FFF9F9;
    display: flex;
    align-items: center;
    justify-content: center;


}



@media (min-width: 0px) and (max-width: 480px)

/* medida para celular */
{
.formulario{

    display: flex;
    flex-direction: column;

}
}

@media (min-width:481px ) and (max-width:768px)

/* medidas para tablet */
{
    .formulario{

        display: flex;
        flex-direction: column;
    }
}


